:root {
    --color-primary: #ed7b23;
    --color-background-light: #fcfcfc;
    --color-background-dark: #252c35;
    --color-dark-gray: #4c4d4e;
    --color-medium-dark-gray: #6d6e71;
    --color-medium-light-gray: #bcbcbc;
    --color-light-gray: #dedede;
    --color-success: #00ff66;
    --color-error: #f84646;

    --rgb-primary: 237, 123, 35;
    --rgb-background-light: 252, 252, 252;
    --rgb-background-dark: 37, 44, 53;
    --rgb-dark-gray: 76, 77, 78;
    --rgb-medium-dark-gray: 109, 110, 113;
    --rgb-medium-light-gray: 188, 188, 188;
    --rgb-light-gray: 222, 222, 222;
    --rgb-success: 0, 255, 102;
    --rgb-error: 248, 70, 70;
}
