table {
    width: 100%;
}

tr {
    border-bottom: 1px solid var(--color-medium-dark-gray);
    line-height: 2rem;
    font-size: 0.875rem;
    text-align: center;
}

tr.header {
    border-bottom: 1px solid var(--color-light-gray);
    line-height: 3rem;
}

th {
    font-weight: normal;
    white-space: nowrap;
}

td, th {
    padding: 0 2rem;
}

.table-sort-arrows {
    display: inline-block;
    margin-right: 8px;
    cursor: pointer;

    --color-table-sort-arrow-active: var(--color-primary);
    --color-table-sort-arrow-inactive: var(--color-background-light);

    &.inactive {
        --color-table-sort-arrow-active: var(--color-medium-dark-gray);
        --color-table-sort-arrow-inactive: var(--color-medium-dark-gray);
    }

    .active, .inactive {
        border: 1px solid black;
        border-left: 0;
        border-bottom: 0;
        width: 8px;
        height: 8px;
    }

    .active {
        border-color: var(--color-table-sort-arrow-active);
    }

    .inactive {
        border-color: var(--color-table-sort-arrow-inactive);
    }

    .arrow {
        display: block;
    }

    .arrow-up {
        transform: rotate(-45deg);
    }

    .arrow-down {
        transform: rotate(135deg);
    }
}
