.popup-container.open {
    align-items: center;
    display: flex;

    .popup-content {
        width: 550px;
        background: var(--color-background-light);
        color: var(--color-background-dark);
        margin: auto;
        border-radius: 21px;

        @include phone {
            border-radius: 0;
            height: calc(100% - 50px);
            width: 100%;
            color: var(--color-background-light);
            background: var(--color-background-dark);
        }
    }
}
