@import "~bootstrap/scss/functions";
@import "../../../sass/mixins/responsive";

.time-popup-content {
    display: flex;
    flex-flow: column;
    height: 384px;
    position: relative;
    max-height: 100vh;
    padding-top: 50px;
    padding-bottom: 20px;
    align-items: center;

    @include phone {
        height: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    button {
        width: 100%;
    }

    h4 {
        margin-bottom: 20px;
    }

    .dialog-text {
        margin-bottom: 70px;
    }

    .select-time {
        flex-grow: 1;
    }

    .mobile-time-selector {
        margin-bottom: 20px;

        display: none;

        @include phone {
            display: block;
        }
    }

    .desktop-time-selector {
        flex-grow: 1;
        @include phone {
            display: none;
        }
    }
}
